<html>
<head>
  <title>chart3</title>
  <meta charset="utf-8" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    username = '{{username}}'
    $(document).ready(function() {
      namespace = '/chat';
      showed_content = 0;
      var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
      socket.on('connect', function() {
        if (!showed_content) {
          socket.emit('init', '');
        }
        showed_content = 1 ;
        //socket.emit('chat',['test','test']);
      });

      socket.on('chat response', function(msg) {
        $('#chatplace').prepend('<br>' + msg.data[1] + ': ' + msg.data[2] + '<br>' + msg.data[0]);
      });


      $('form#chatform').submit(function(event) {
        var chatform_data = $('#chatform_data').val();
        //var chatform_data = $('#chatform_data').val();
        //alert(username);
        var chatjson = [chatform_data, username];
        //alert(chatjson);
        socket.emit('chat', chatjson);
        $('#chatform_data').val('');
        return false;
      });
    });
  </script>
</head>
<body>
  <h1>chart3</h1>
  <h2>做个demo看看</h2>
  <div id="chatformdiv">
    <form id="chatform" method='POST' action='#'>
      <input type="text" name="chatform_data" id="chatform_data" placeholder="写点什么吧">
      <input type="submit" value="Echo">
    </form>
  </div>
  <div id="chatplace">
  </div>
</body>
</html>
